/* CUSTOM PROPERTIES */
:root {
  /* --clr-btn-hero: #f42c04; */
  --clr-btn-hero: #01295f;
  /* --clr-btn-hero: #437f97; */
  --clr-btn-hero: #ee5622;
}

/* TAGS */
body {
  overflow-x: hidden;
}

/* NAVBAR */
.navbar {
  /* background-color: #edb88b; */
  background-color: #dde1e4;
}

/* HERO */
#hero {
  background-image: url(./images/hero-bg.jpg);
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-overlay {
  background-color: rgba(221, 225, 228, 0.8);
  position: absolute;
  top: 0;
  left: 0;
}

.hero-title {
  color: #0f1a20;
}

.hero-info {
  font-size: 1.2rem;
}

.btn-hero {
  background-color: var(--clr-btn-hero);
  border: 2px solid var(--clr-btn-hero);
  color: #fff;
}

.btn-hero:hover {
  border: 2px solid var(--clr-btn-hero) !important;
  color: var(--clr-btn-hero) !important;
}

/* ABOUT */
#skills {
  gap: 1rem;
}

#skills figure {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100px;
}

#skills figcaption {
  font-weight: bold;
}

/* PORTFOLIO */
#portfolio {
  background-color: #dde1e4;
}

#portfolio .card {
  width: 300px;
  overflow: hidden;
  transition: all 0.2s ease;
}

#portfolio .card:hover {
  transform: scale(1.05);
}

#portfolio .card .img-fluid {
  height: 200px;
}

#projects {
  gap: 1rem;
}

/* FOOTER */
#footer {
  background-color: #dde1e4;
}

.footer-socials {
  display: flex;
  gap: 1rem;
}

.footer-socials a {
  color: #0f1a20;
}

.footer-socials a:hover {
  opacity: 0.75;
}

@media screen and (min-width: 576px) {
  #contact .btn-hero {
    width: 25%;
  }
}
